<mat-grid-list cols="6" rowHeight="2.5:1">
  <mat-grid-tile>{{categories[0].title}}</mat-grid-tile>
  <mat-grid-tile>{{categories[1].title}}</mat-grid-tile>
  <mat-grid-tile>{{categories[2].title}}</mat-grid-tile>
  <mat-grid-tile>{{categories[3].title}}</mat-grid-tile>
  <mat-grid-tile>{{categories[4].title}}</mat-grid-tile>
  <mat-grid-tile>{{categories[5].title}}</mat-grid-tile>
  <mat-grid-tile>200</mat-grid-tile>
  <mat-grid-tile>200</mat-grid-tile>
  <mat-grid-tile>200</mat-grid-tile>
  <mat-grid-tile>200</mat-grid-tile>
  <mat-grid-tile>200</mat-grid-tile>
  <mat-grid-tile>200</mat-grid-tile>
  <mat-grid-tile>400</mat-grid-tile>
  <mat-grid-tile>400</mat-grid-tile>
  <mat-grid-tile>400</mat-grid-tile>
  <mat-grid-tile>400</mat-grid-tile>
  <mat-grid-tile>400</mat-grid-tile>
  <mat-grid-tile>400</mat-grid-tile>
  <mat-grid-tile>600</mat-grid-tile>
  <mat-grid-tile>600</mat-grid-tile>
  <mat-grid-tile>600</mat-grid-tile>
  <mat-grid-tile>600</mat-grid-tile>
  <mat-grid-tile>600</mat-grid-tile>
  <mat-grid-tile>600</mat-grid-tile>
  <mat-grid-tile>800</mat-grid-tile>
  <mat-grid-tile>800</mat-grid-tile>
  <mat-grid-tile>800</mat-grid-tile>
  <mat-grid-tile>800</mat-grid-tile>
  <mat-grid-tile>800</mat-grid-tile>
  <mat-grid-tile>800</mat-grid-tile>
  <mat-grid-tile>1000</mat-grid-tile>
  <mat-grid-tile>1000</mat-grid-tile>
  <mat-grid-tile>1000</mat-grid-tile>
  <mat-grid-tile>1000</mat-grid-tile>
  <mat-grid-tile>1000</mat-grid-tile>
  <mat-grid-tile>1000</mat-grid-tile>
</mat-grid-list>